@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos ao MVP Conf 2020 - Trilha de Desenvolvimento</h1>
    <p>Acompanhe toda a grade <a href="https://mvpconf.com.br/">no site do evento</a>.</p>
</div>
